body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

input {
    width: 300px;
    padding: 8px;
}

button {
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
}

#galeria {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
}

#galeria img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s;
}


#galeria img.seleccionada {
    border: 4px solid #00acfc;
    box-shadow: 0 0 10px #0195f8;
}